@page "/"

<PageTitle>Home</PageTitle>

<h1>Welcome to NetLine!</h1>
        
<p><strong>NOTE:</strong> This is just a placeholder page. The content will be added in the future. </p>
<p>This is an application for devices monitoring.</p>
<p>Created in WSB Merito.</p>

<img src="Images/Logo long.png" alt="Logo" style="height: 10rem; margin-right: 0.5rem;" />


